<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maker Hawaii</title>
  </head>
  <body class="app">
    {% block content %}{% endblock %}
    <footer></footer>
  </body>
  <script type="text/javascript" src="http://localhost:8080/wp-content/themes/makerhawaii/js/bundle.js"></script>
</html>
