<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/wp-content/themes/makerhawaii/style.css" media="screen" title="no title" charset="utf-8"> -->
    <title>Maker Hawaii</title>
  </head>
  <body class="app">
    {% block content %}{% endblock %}
    <footer></footer>
  </body>
  <script type="text/javascript" src="http://local.makerhawaii.com:8080/wp-content/themes/makerhawaii/js/bundle.js"></script>
</html>
