{% extends 'base.twig' %}

{% block content %}
  <app>
    <span class="post-content">{{ post.content }}</span>
  </app>
  <a
     style="position: fixed; right: 0.5em; bottom: 0.5em;"
     href="//codeforhawaii.org">
    <img
      src="/wp-content/themes/makerhawaii/img/logo.svg"
      alt="">
  </a>
{% endblock %}
