.app {
  @media screen and (min-width: 64em) {
    margin-left: 50%;
  }
}

.container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 18px;
}

*, *:before, *:after {
  box-sizing: border-box;
}
